@model IQueryable<Domain.Entities.Category>
@section head {
    <style type="text/css">
        .noProducts
        {
            width: 300px;
            padding: 10px;
            border: 1px solid #666;
        }
    </style>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model.Any())
{ 
    <ul>
        @foreach(var item in Model)
        {
            <li>
                 @Html.ActionLink(@item.Name, "Browse", new {id = @item.Id})
             </li>
        }
    </ul>
}
else
{
    <div class="noProducts">
        No Products Found</div> 
}